<div class="table-container">
    <table class="responsive-table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero</th>
        </tr>
        <tr>
            <td>Gal</td>
            <td>Gadot</td>
            <td>Wonder Woman</td>
        </tr>
        <tr>
            <td>Jason</td>
            <td>Momoa</td>
            <td>Aquaman</td>
        </tr>
        <tr>
            <td>Ezra</td>
            <td>Miller</td>
            <td>The Flash</td>
        </tr>
        <tr>
            <td>Ben</td>
            <td>Affleck</td>
            <td>Batman</td>
        </tr>
    </table>
</div>