<div class="main">
    <table class="table">
        <tr class="table-header">
            <th>#</th>
            <th>Barang</th>
            <th>Qty</th>
            <th>Harga Satuan</th>
            <th>Jumlah</th>
        </tr>
        <tr class="table-row">
            <td>1</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>2</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>3</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>4</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>5</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>6</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>7</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>8</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>9</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>10</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>11</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>12</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>13</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>14</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>15</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>16</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>17</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>18</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>19</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr class="table-row">
            <td>20</td>
            <td>test</td>
            <td>test </td>
            <td>test</td>
            <td>test</td>
        </tr>
    </table>
</div>